<!-- <div class="container">
    <p>Category</p>
    <ul>
        <li *ngFor="let category of categories">
            <a href="">
                <img src="{{category}}" alt="">
            </a>
        </li>
    </ul>
</div> -->

<div class="container">
    <p>Products</p>
    <app-tags></app-tags>
    <ul>
        <li *ngFor="let product of products">
            <a routerLink="/{{product.tags}}/{{product.id}}">
                <img src="{{product.imageUrl}}" alt="">
                <div class="content">
                    <div class="name">
                        {{product.name}}
                    </div>
                    <span class="favorite {{product.favorite?'':'not'}}">
                        ❤
                    </span>
                    <div class="stars">
                    <!-- <star-rating 
                            [value]="product.stars"
                            [totalstars]="5"
                            checkedcolor="red"
                            uncheckedcolor="black"
                            size="20px"
                            [readonly]="true">
                    </star-rating> -->
                </div>
                </div>
                <div class="price">
                    <span>
                        {{product.price}} NIS / {{product.piece}}
                    </span>
                </div>
            </a>
        </li>
    </ul>
</div>