<div class="container">
    <img [src]="product.imageUrl" [alt]="product.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{product.name}}
            </span>
            <span class="favorite not">
                ❤
            </span>
            <!-- <div class="rating">
                <star-rating
                [value]="product.stars"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="black"
                size="30px"
                [readonly]="true">
                </star-rating>
            </div> -->
            <span class="description">
                {{product.description}}
            </span>
            <span class="price">
                <B>{{product.price}}</B>NIS
            </span>
        </div>
    </div>
</div>